{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<table>
    <thead>
    <tr>
        <th>Menu</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <a href="{{ path('annonce', {'option': 'all'}) }}">Liste des annonces</a>
        </td>
    </tr>
    </tbody>
</table>
{% endblock %}