{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <p class="mdc-typography-styles-headline1">Ça s'annonce bien</p>
    {% if app.user == null %}

        <div  class="mdc-card__action-buttons mdc-layout-grid__cell--align-right">
            <button onclick="location.href='{{ path('app_register')}}'" class="mdc-button mdc-button--raised">
                <span class="mdc-button__ripple"></span>
                <i class="material-icons mdc-button__icon" aria-hidden="true">
                    input
                </i>
                <span class="mdc-button__label">S'inscrire</span>
            </button>

            <button onclick="location.href='{{ path('app_login')}}'" class="mdc-button mdc-button--raised">
                <span class="mdc-button__ripple"></span>
                <i class="material-icons mdc-button__icon" aria-hidden="true">
                    login
                </i>
                <span class="mdc-button__label">Se connecter</span>
            </button>
        </div>

    {% else %}

        <div  class="mdc-card__action-buttons mdc-layout-grid__cell--align-right">
            <button onclick="location.href='{{ path('app_logout')}}'" class="mdc-button mdc-button--raised">
                <span class="mdc-button__ripple"></span>
                <i class="material-icons mdc-button__icon" aria-hidden="true">
                    logout
                </i>
                <span class="mdc-button__label">Se deconnecter</span>
            </button>
        </div>

    {% endif %}
{% endblock %}