{% extends 'base.html.twig' %}

{% block title %}Créer la catégorie{% endblock %}

{% block body %}
    <h1>Nouvelle catégorie</h1>

    {{ include('layers/_categorieFormulaire.html.twig',{'button_label': 'Créer'}) }}
{% endblock %}
