{% extends 'base.html.twig' %}

{% block title %}Créer annonce{% endblock %}

{% block body %}
    <h1>Nouvelle annonce</h1>

    {{ include('layers/_formulaire.html.twig',{'button_label': 'Créer'}) }}
{% endblock %}
