{% extends 'base.html.twig' %}

{% block title %}Modifier annonce{% endblock %}

{% block body %}
    <h1>Modifier annonce</h1>

    {{ include('layers/_formulaire.html.twig',{'button_label': 'Enregistrer'}) }}
{% endblock %}