{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}
    <div class="mdc-layout-grid">
        <div class="mdc-card__actions">
            <div  class="mdc-card__action-buttons mdc-layout-grid--align-right">
                <label><span>Trier par :</span></label>
                <button onclick="location.href='{{ path('annonce',{option: 'ASC'}) }}'" class="mdc-button mdc-card__action mdc-card__action--button">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">Prix Croissant</span>
                </button>
                <button onclick="location.href='{{ path('annonce',{option:'DESC'}) }}'" class="mdc-button mdc-card__action mdc-card__action--button">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">Prix Decroissant</span>
                </button>
            </div>
        </div>

        <div class="mdc-layout-grid__inner">
            {% for annonce in annonces %}
                <div class="mdc-layout-grid__cell">
                    {%  include 'layers/_card.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
